# Logs
logs/
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
bower_components
web_modules/

# Package managers
.pnpm-store/
.npm
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Output of 'npm pack'
*.tgz

# Caches
.cache/
.parcel-cache
.nyc_output
.grunt
.stylelintcache
.eslintcache
**/.vitepress/cache

# Build outputs
dist/
build/
lib/
tmp/
temp/
build/Release

# TypeScript
*.tsbuildinfo

# Framework outputs
.next/
.next/cache/
out/
.vercel/
.nuxt
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
.docusaurus

# Firebase
.firebase/
.emulators/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
.storage/
.runtimeconfig.json

# Serverless and tools
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.turbo/

# IDEs / Editors
.idea/
.vscode/
*.code-workspace

# Environment files
.env
.env.*
!.env.example

# OS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*~
.nfs*
Thumbs.db
ehthumbs.db
Desktop.ini

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Node REPL
.node_repl_history

# Yarn Integrity
.yarn-integrity

# Coverage
coverage
*.lcov
lib-cov
